body {
	font-family: 'Arvo', serif;
	line-height: 1.4;
	color: #fff;
	background: url(../img/wood.jpg);
	background-attachment: fixed;
}

header {
	padding: 1.5em 7.5%;
	text-align: center;
}

header h1 {
	margin: 0;
	padding-top: .5em;
	font-family: 'Ultra', serif;
	font-size: 3.75em;
	line-height: 1;
	text-shadow: 0 0 20px rgba(31,31,31,.6);
}

header h1 span {
	display: block;
	margin: .5em 0;
	padding: .5em 0;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	font-family: 'Arvo', serif;
	font-size: .3125em;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
}

header p {
	font-size: 1em;
	text-shadow: 0 0 20px rgba(31,31,31,1);
}

.custom-list {
	overflow: hidden;
	margin: 0;
	padding: 0 5%;
	list-style-type: none;
}

.custom-list li {
	margin-bottom: 1.5em;
  	padding: .5em 5% 2em;
  	border: 10px solid #fff;
  	counter-increment: step-counter;
  	box-shadow: 0 0 20px rgba(31,31,31,.6);
  	box-sizing: border-box;
	background-size: cover;
}

.custom-list li * {
	margin: 0;
	text-shadow: 0 0 20px rgba(31,31,31,.4);
}

.custom-list li h4 {
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
}

.custom-list li:before {
	content: counter(step-counter);
	font-family: 'Ultra', serif;
	font-size: 5.25em;
}

.veg-tomatillo { background: url(../img/tomatillo.jpg); }
.veg-greens { background: url(../img/greens.jpg); }
.veg-squash { background: url(../img/squash.jpg); }
.veg-tomato { background: url(../img/tomato.jpg); }
.veg-beans { background: url(../img/beans.jpg); }

footer * {
	text-shadow: 0 0 20px rgba(31,31,31,.4);
}	

footer p {
	margin: 1.5em 0 3em;
	text-align: center;
	color: #fff;
}

footer a {
	color: #fff;
}

@media screen and (min-width:47.5em){
	header h1 {
		font-size: 4.5em;
	}
	header p {
		font-size: 1.5em;
	}
	.custom-list {
		padding: 0 2.5%;
	}
	.custom-list li {
		float: left;
  		padding: .5em 2.5% 2em;
		width: 49%;
		height: 22em;
		margin-right: 2%;
	}
	.custom-list li:nth-child(even) {
		margin-right: 0;
	}
}

@media screen and (min-width:67.5em){
	header h1 span {
		position: relative;
		display: inline-block;
		padding: .375em 0;
		bottom: 12px;
		font-size: .25em;
	}
	.custom-list li {
		width: 32%;
		height: 23em;
	}
	.custom-list li:nth-child(even) {
		margin-right: 2%;
	}
	.custom-list li:nth-child(3) {
		margin-right: 0;
	}
}
